@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.ui-btn {
  font-size: 25px;
  border-radius: 150px;
  margin-left: 5px;
}

#ccd {
  margin: 10px;
}
