html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*#map-wrap {
	height:100%;
}*/
#map {
	height:100%;
}

#ccd{
	padding:none;
	display: inline;
	flex-wrap: wrap;
	justify-content: space-around;
}
.ui-comp {
	border: 2px solid #1e81d6;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: pointer;
	font-family: Roboto,Arial,sans-serif;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: white;
	margin-top: 10px;
	background-color: #1e81d6;
}
